.wrapper{
    width: 340px;
    margin: 0 auto;
    background: #f1f1f1;
    padding: 20px;
}
.numberBorder{
    margin: 13px 0 0 0;
}
.numberBorder1{
    margin: 5px;
    border: 2px solid red;
    cursor: pointer;
}
.star{
    font-size: 24px;
    padding: 5px 3px 0px 3px;
    border: 1px solid #00805b;
    margin: 2px;
    background: #81e2638c;
}
.center{
    text-align: center;
}